:root {
  --primary-color: #2490eb;
  --secondary-color: #666666;
  --dark-color: #333333;
  --white-color: #ffffff;
  --grey-color: #f8f9fa;
  --primary-dark-color: #14457b;
  --blue-color: #e3f2fd;
  --body-fonts: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --title-fonts: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/*==================================================
FAQ
====================================================*/
.pq-accordion-block .pq-accordion-box {
  background: var(--white-color);
  margin-bottom: 30px;
  position: relative;
}

.pq-accordion-block .pq-accordion-box:last-child {
  margin-bottom: 0;
}

.pq-accordion-block .pq-accordion-box .pq-ad-title {
  border-radius: 3px;
  background: var(--grey-color);
  border: 1px solid var(--grey-color);
  padding: 15px 30px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pq-accordion-block .pq-accordion-box .pq-ad-title .ad-title-text {
  font-size: 16px;
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pq-accordion-block .pq-accordion-box .pq-ad-title i {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  opacity: 1;
  color: var(--dark-color);
  font-size: 16px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pq-accordion-block .pq-accordion-box.pq-active .pq-ad-title i {
  color: var(--white-color);
}

.pq-accordion-block .pq-accordion-box .pq-accordion-details {
  padding: 15px 30px;
  border: 1px solid var(--grey-color);
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.pq-accordion-block .pq-accordion-box .pq-accordion-details p {
  margin-bottom: 0;
}

.pq-accordion-block .pq-accordion-box.pq-active .pq-ad-title {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  transform: translateY(0);
}

.pq-accordion-block .pq-accordion-box.pq-active .pq-ad-title .ad-title-text {
  color: var(--white-color);
}
